@{
    ViewBag.Title = "Welcome to the Top 5 Restaurant Site";
}

<h4>This site shows the top 5 restaurants in Provo, Utah.</h4>
<img src="~/img/ppp-why-wont-anyone-rescue-restaurants-FT-BLOG0420.jpg" width="500" class="rounded"/>
<br />
<br />
<a class="btn btn-primary" asp-action="RestaurantList">View the restaurants</a>